Dockerfile
**/Dockerfile
.idea
.dockerignore
docker-compose.yml
node_modules
**/node_modules
npm-debug.log
README.md
.swc
**/coverage
**/eslint-report
**/e2e
**/.next
.git
.DS_Store
.vscode
.husky
.editorconfig
.gitignore
.jmeter.log
yarn-error.log
storybook-static
.docusaurus
**/.docusaurus
apps/docs/build
eslint-report
.swc
**/.swc
coverage
*.pcap
.scannerwork
.env
logs.log