@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range'].defaultInputRangeThumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12),
    0px 6px 13px rgba(0, 0, 0, 0.12);
  transition: background 0.3s ease-in-out;
}

input[type='range'].defaultInputRangeThumb::-moz-range-thumb {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12),
    0px 6px 13px rgba(0, 0, 0, 0.12);
  transition: background 0.3s ease-in-out;
}
